/* Note: Inheritance and !important are used to avoid any potential conflicts */
/* Chrome */
.chr { width:516px;height:420px; }

/* 'Top' bar (or titlebar, or toolbar ) */
.chr .tb { width:100% !important;height:8px !important;font-size:1px;line-height:1px;overflow:hidden; }
	.chr .tb .l { width:8px;height:100%;background:transparent url("../skins/arcticwhite/static.png") no-repeat 0 -30px;float:left; }
	.chr .tb .m { width:500px;height:100%;background:#fff url("../skins/arcticwhite/horizontal.png") repeat-x 0 -30px;float:left; }
	.chr .tb .r { width:8px;height:100%;background:transparent url("../skins/arcticwhite/static.png") no-repeat -8px -30px;float:left; }

/* Sample contents */
.chr .con { width:100% !important;height:256px !important; }
	.chr .con .l { width:8px;height:100%;background:#fff url("../skins/arcticwhite/vertical.png") repeat-y;float:left; }
	.chr .con .m { width:500px;height:100%;background:#fff;float:left; }
	.chr .con .r { width:8px;height:100%;background:#fff url("../skins/arcticwhite/vertical.png") repeat-y -8px 0;float:left; }

/* Separator (between the chart and the scroller widget) */
.chr .sep { width:100% !important;height:8px !important; }
	.chr .sep .l { width:8px;height:100%;background:#fff url("../skins/arcticwhite/static.png") no-repeat 0 -38px;float:left; }
	.chr .sep .m { width:500px;height:100%;background:#fff url("../skins/arcticwhite/horizontal.png") repeat-x 0 -38px;float:left; }
	.chr .sep .r { width:8px;height:100%;background:#fff url("../skins/arcticwhite/static.png") no-repeat -8px -38px;float:left; }

/* Scroller */
.chr .scr { width:100% !important;height:70px !important; }
	.chr .scr .l { width:8px;height:100%;background:#fff url("../skins/arcticwhite/vertical.png") repeat-y;float:left; }
	.chr .scr .m { width:500px;height:100%;background:#fff;float:left; }
	.chr .scr .r { width:8px;height:100%;background:#fff url("../skins/arcticwhite/vertical.png") repeat-y -8px 0;float:left; }

/* Bottom */
.chr .btm { width:100% !important;height:8px !important;font-size:1px;line-height:1px;overflow:hidden; }
	.chr .btm .l { width:8px;height:100%;background:transparent url("../skins/arcticwhite/static.png") no-repeat 0 -46px;float:left; }
	.chr .btm .m { width:500px;height:100%;background:#fff url("../skins/arcticwhite/horizontal.png") repeat-x 0 -46px;float:left; }
	.chr .btm .r { width:8px;height:100%;background:transparent url("../skins/arcticwhite/static.png") no-repeat -8px -46px;float:left; }

/* Popup styles */
/* Popup styles */
.popup { width:275px;height:68px;background:#999;border:1px solid #8d8d8d;cursor:default;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#666;line-height:16px; }
	.popup .top { width:auto;height:48px;padding:0; }
		.popup .top .inner { padding:1px;background:#fff;height:45px; }
		.popup .top .lbl { width:44px;height:39px;background:#f3f3f3;float:left;text-align:right;padding:6px 6px 0 0; }
		.popup .top .val { width:216px;height:39px;background:#fff;float:left;margin:0 0 0 1px;padding:6px 0 0 6px;font-weight:bold; }

	.popup .btm { width:auto;height:21px;padding:0;line-height:18px; }
		.popup .btm .inner { width:auto;height:19px;padding:0;border:1px solid #fff;border-top:none;background:#fff; }
		.popup .btm .lbl { width:43px;height:18px;background:#fff url("../skins/arcticwhite/horizontal.png") repeat-x 0 -54px;float:left;border-right:1px solid #d4d4d4;margin:1px 0 0 0;color:#666;text-align:right;padding:0 6px 0 0; }
		.popup .btm .val { width:216px;height:18px;background:#fff url("../skins/arcticwhite/horizontal.png") repeat-x 0 -72px;float:left;margin:0;border-left:1px solid #fff;border-top:1px solid #fff;color:#333;font-weight:bold;padding:0 0 0 6px; }
		

/*MENU STYLES*/		
.m { width:380px;height:25px;background:#000) no-repeat;padding:4px 10px; }
.menu { font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;color:#333;cursor:default; }

.top { width:64px !important;height:24px !important;text-align:center;background:none; }
.top-h { width:64px !important;height:24px !important;background-color:#fff;text-align:center;  }
.top-a { width:64px !important;height:24px !important;background-color:#fff;text-align:center; }

.grp { border:1px solid #bbb;border-bottom-color:#aaa;border-left-color:#aaa;width:190px;background:#f6f6f6 url("../skins/arcticwhite/vertical.png") repeat-y;font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#555;cursor:default;text-align:left; }

.item { width:188px;height:22px; }
.item-h { width:188px;height:22px;background-color:#e3e3e3;color:#333; }

.br { width:188px;height:3px;background:#f6f6f6 url("images/static.png") no-repeat -64px -33px; }

.icon { display:block;width:16px;height:16px;float:left;margin:3px 6px 0px 5px;background:transparent url("../skins/arcticwhite/icons.png") no-repeat -16px 0;_background-image:url("../skins/arcticwhite/icons.gif");_margin-left:3px; } /* IE6 will load the GIF */
.arrow { display:block;width:16px;height:16px;float:left;margin-top:3px;background:transparent url("../skins/arcticwhite/icons.png") no-repeat;_background-image:url("../skins/arcticwhite/icons.gif"); } /* IE6 will load the GIF */
.txt { display:block;float:left;height:21px;line-height:21px;width:140px;padding:0 0 0 6px; }
.expand .txt { width:135px }
