.containerNew, .row {
	margin: 0 auto;
	max-width: 960px;
	min-width: 755px;
	overflow: hidden;
	width: 100%;
}
*+html .containerNew {
	width: 960px;
}
*html .containerNew {
	width: 980px;
}
.g4New, .g8New{
	margin-right: 3.8%;
	float: left;
	min-height: 1px;
}

.g4New {
	width: 28%;
}

.g8New {
	width: 67%;
}
.g4New.last, .g8New.last{
	margin-right: 0;
	float: right;
}

.ie6 .g4New, .ie6 .g8New{
	overflow: hidden;
	position: relative;
}
.header {
	background: #f2f2f2;
	float:left;
	width:100%;
	height:130px;
}
.header .containerNew {
	position: relative;
}
.header.linkaccess .containerNew {
	height: 130px;
}
.header a {
	color: #323232;
}
.util_navNew {
	float: right;
	padding:0 0 0 0;
	margin: 0 -8px 0 0;
	width:auto;
}
.util_navNew li {
	float: left;
	padding: 10px 10px 0 10px;
	position: relative;
	cursor:pointer;
	z-index:99;
	list-style-type:none;
	margin:0;
	font-size:0.9em;
}
.util_navNew li a {
	min-height:23px;
	display:block;
}
.util_navNew li a.active, .util_navNew li .util-subnavigationNew dd a.active {
	text-decoration: underline;
}
.util_navNew li.pop-upNew {
	padding:9px 0 0;
}
.util_navNew li.pop-upNew p {
	margin:0;
	padding:0 7px 5px;
}
.util_navNew li.pop-upNew:hover p {
	background:#fff;
	position:relative;
	z-index:99;
	padding:7px 4px 5px 4px;
	margin:-10px 0 0 0;
	color:#cb003f;
}
.util_navNew li.pop-upNew:hover {
	border-top:3px solid #ccc;
	border-left:3px solid #ccc;
	border-right:3px solid #ccc;
	margin:0 0 0 0;
}
.util_navNew li .util-subnavigationNew {
	background:#fff;
	border:3px solid #ccc;
	display: none;
	left: -3px;
	padding: 7px 9px;
	position: absolute;
	top: 25px;
	min-width:110px;
	/* border-bottom: 3px solid #ccc;
	border-left: 3px solid #ccc;
	border-right: 3px solid #ccc;
	z-index:999; */
}
.util_navNew li .util-subnavigationNew dl {
	padding:0;
	margin:0;
}
.util_navNew li .util-subnavigationNew dd {
	padding: 0 0 5px 0;
	margin: 0;
}
.util_navNew li .util-subnavigationNew dd a {
	color:#CB003F;
	min-height:16px;
}
.util_navNew li:hover .util-subnavigationNew {
	display: block;
}
.ie7 .util_navNew li.pop-upNew {
	padding:8px 0 0;
}
.profileNew {
	border: 0;
	color: #cb003f;
	cursor: pointer;
	float: right;
	margin-left: 35px;
	padding: 10px 10px 0;
	position: relative;
	z-index: 100;
}
.profileNew .popupNew {
	background: #fff;
	border-color: #ccc;
	border-style: solid;
	border-width: 0 3px 3px 3px;
	display: none;
	left: -3px;
	position: absolute;
	width: 100%;
      top: 21px;
}
.profileNew:hover, .profileNew.hover {
	background: #fff;
	border-color: #ccc;
	border-style: solid;
	border-width: 3px 3px 0;
	padding: 7px 7px 0;
}
.profileNew:hover .popupNew, .profileNew.hover .popupNew {
	display: block;
}
.profileNew span {
	font-size:0.9em;
}
.profileNew span.iconNew {
	border-style: solid;
	border-width: 5px;
	border-color: #cb003f transparent transparent transparent;
	display: inline-block;
	height: 0;
	line-height: 0;
	margin: 0 0 -3px 3px;
	width: 0;
}
.profileNew .popupNew a {
	color: #cb003f;
}
.profileNew .popupNew ul {
	margin: 20px 0 0 7px;
	padding:0;
	z-index : 999;
}
.profileNew .popupNew li {
	margin-bottom: 5px;
	margin-left:0;
	list-style-type:none;
	font-size:0.9em;
}
.ie6 .profileNew .popupNew, .ie7 .profileNew .popupNew {
	top: 23px;
}
.ie6 .profileNew span.iconNew {
	border-color: #cb003f #f2f2f2 #f2f2f2 #f2f2f2;
}
.ie6 .profileNew_hover .popupNew {
	display: block;
}
.ie6 .profileNew_hover {
	background: #fff;
	border-color: #ccc;
	border-style: solid;
	border-width: 3px 3px 0;
	padding: 7px 7px 0;
}
.brandingNew, .brandingNew img {
	float: left;
}
.brandingNew img {
	margin-right: 12px;
}
.brandingNew a {
	text-decoration: none;
	font-size: 22px;
}
.brandingNew strong {
	font-weight: normal;
	color: #ce003f;
	float: left;
	font-size: 1.1em;
	margin-top: 27px;
}
.brandingNew strong span {
	color: #000;
	display: block;
	margin:-5px 0 0 0;
}
.ie8 .brandingNew {
	width: 100%;
}
.searchNew {
	background: #d9d9d9;
	float: right;
	margin-top: 14px;
	padding: 10px 10px 12px;
	width: 67%;
}
.searchNew form {
	margin-bottom: 5px;
}
.searchNew a {
	float: right;
	font-size:0.9em;
}
.searchNew input {
	border: 0;
	color: #676767;
	float: left;
	font-size: 1em;
	height: 28px;
	line-height:28px;
	padding-left: 7px;
	width: 82.6%;
}
.searchNew .submitNew {
	background: #ce0040 url(../images/search_button.png) no-repeat;
	border: 0;
	color: #fff;
	float: right;
	height: 30px;
	padding: 0 5px;
	width: 14%;
	cursor:pointer;
}
.searchNew .submitNew .iconNew {
	float: right;
}
.searchNew-result {
	width:100%;
	float:left;
	margin: 40px 0 14px;
}
.footer_contentsNew {
	border-bottom: 1px dotted #858585;
	margin: 0 auto;
	padding-bottom: 20px;
	width: 80%;
}
.footer_contentsNew a {
	color: #ce003f;
}
.footer_contentsNew a.active {
	text-decoration: underline;
}
.footer_contentsNew ul {
	margin-bottom: 20px;
	padding:0;
}
.footer_contentsNew li {
	border-right: 1px solid #333;
	float: left;
	margin-right: 9px;
	margin-left:0;
	padding-right: 9px;
	list-style-type:none;
}
.footer_contentsNew li.last {
	border-right: 0;
}
.footer_contentsNew .logoNew {
	float: left;
	margin-right: 18px;
	width: 54px;
	display: block;
}
.footer_contentsNew p {
	margin: 0 0 1px;
	font-size:0.9em;
	padding:0;
}
.footer_contentsNew p.legalNew {
	color: #858585;
}
.middle, .footerNew {
	float: left;
	width: 100%;
}


.headerNew
{
    background: #f2f2f2;
    float: left;
    width: 100%;
}
.headerNew .containerNew
{
    height: 100%;
    position: relative;
}

.cfNew:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 1em;
	height: 0;
	visibility: hidden;
}
headerNew.cfNew {
	background:#f2f2f2;
	min-height:131px;
	width:100%;
}
.ie7 .cfNew, .ie6 .cfNew {
	display: inline-block;
}

.middleNew, .footerNew
{
    width: 100%;
    float: left;
}
.maincontainerNew
{
    margin: 0 auto;
    max-width: 960px;
    min-width: 755px;
	text-align: left;
    width: 100%;
}