﻿<%@ Master Language="C#" 
    AutoEventWireup="true" 
    CodeBehind="AnalysisMaster.master.cs" 
    Inherits="Datamonitor.PremiumTools.Generic.MasterPages.AnalysisMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Src="../Controls/ChartLinks.ascx" TagName="ChartLinks" TagPrefix="GPMT" %>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="copyright" content="Copyright (c) 2009 - Datamonitor plc. All rights reserved." />
    <title>Premium Tools</title>    
    <link runat="server" id="sourceCSS" rel="stylesheet" type="text/css"/>
    
    <link href="~/assets/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="~/assets/css/treeview.css" rel="stylesheet" type="text/css"/>
    
    <link runat="server" id="cssLink_New" rel="stylesheet" type="text/css" />
    
     <meta name="DCSext.wtISPUserName" content="<%= Session["SAMSUser"] %>" />
    <meta name="DCSext.wtISPEmail" content="<%= Session["SAMSUserEmail"] %>" />
    <meta name="DCSext.wtISPUserID" content="<%= Session["SAMSUserId"] %>" />
    <meta name="DCSext.wtISPParentCompanyID" content="<%= Session["SAMSParentAccountId"] %>" />


     <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/FusionMaps.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/FusionMaps.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/highslide-with-html.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/jquery-1.3.2.min.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/kc.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/SpryMenuBar.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/webtrends.js") %>"></script>
    
    
    <style type="text/css">
        .highslide-header ul li.highslide-previous, .highslide-header ul li.highslide-next 
        {
	        display: none;
        }
    </style>
    
     <script type="text/javascript">	

    function ValidateAndRedirect(redirectTo)
	{	
	    var redirectUrl;	    
	    if(redirectTo=='Results')
	    {
	        redirectUrl="../"+"<%= GetResultsPage()%>";
	    }
	    window.location.href = redirectUrl;
	}
	function UpdateSession(taxonomyTypeID, taxonomyID, name, actionType)
	{
	    var urlPath ="SessionHandler.aspx?taxonomyTypeID="+
	        taxonomyTypeID + 
	        "&taxonomyID="+
	        taxonomyID+
	        "&name=" + 
	        unescape(name) +
	        "&actionType="+
	        actionType;
	        //alert(urlPath);
	        
        var options = {
            contentType: "text/html; charset=utf-8",
            type: "GET",
            url: urlPath,
            dataType: "html",            
            async: false,
            success: function(response) {
                //alert("success: " + response);
            },
            error: function(msg) { alert("failed: " + msg); }
        };

        var returnText = $.ajax(options).responseText;
        return returnText;
	}
	function addToSelection(taxonomyTypeID, taxonomyType, taxonomyID, name, canUpdateSession)
	{
        var section = taxonomyTypeID;
        var strMsg = "true"; 
        if(canUpdateSession == "true")
        {
            //update session
            strMsg = UpdateSession(taxonomyTypeID, taxonomyID, name, "add");
        }
        if(strMsg == "true")
        {           
            if ( $("#taxtype"+taxonomyTypeID).text() =="")
            {
                $("#advanced_criteria").append("<p id='taxtype" + taxonomyTypeID + "' >" + unescape(taxonomyType) + " &nbsp;</p>");
            }

	        //add the checked taxonomy link
	        var hrefStr="javascript:removeFromSelection("+taxonomyTypeID +",\""+ taxonomyType +"\","+ taxonomyID +",\""+ name +"\",\"true\");"; 
	        section="#taxtype"+taxonomyTypeID;
	        if($("#selspan" + taxonomyID).length==0)
	        {
                $(section).append(" <a title='remove' id='selspan" + taxonomyID + "' href='" + hrefStr + "'>" + unescape(name) + "</a> ");
            }
            
        }
	}
	

	function removeFromSelection(taxonomyTypeID,taxonomyType, taxonomyID, name, canUpdateSession)
	{	
        var strMsg = "true"; 
	    //alert(taxonomyID);
  	    var currentTaxonomyTypeID = $("#hdnTaxonomyTypeID").val();
	    if (taxonomyTypeID == currentTaxonomyTypeID)
	    {
	        var controlType = $("#hdnControlType").val();//alert(controlType);
            switch(controlType)
            {
            case "CHKLIST":
              tryToUncheckSelectItem(taxonomyID);
              break;
            case "TREE":
              tryToUncheckSelectedNode(taxonomyID);
              break;
            default:

            }
        }

	    
	    var str = "A[id='selspan" + taxonomyID + "']";
	    //alert($(str).text());
	    $(str).remove();
	    if(canUpdateSession == "true")
        {
	        //update session
            strMsg = UpdateSession(taxonomyTypeID, taxonomyID, name, "remove");
        }
        if(strMsg == "true")
        {
	        var selectionPara = "P[id='taxtype" + taxonomyTypeID + "']";
	        if($(selectionPara + " A").length==0)
	        {
	            $(selectionPara).remove();	          
	        }
	    }
	}	
	
	function SendMailToAnalyst(name, email, tel, contactmethod, question)
	{
	    var urlPath ="Askanalyst.aspx?name="+
	        name + 
	        "&email="+
	        email+
	        "&tel=" + 
	        tel +
	        "&question="+
	        question+
	        "&contact="+
	        contactmethod;
	        //alert(urlPath);
	        
        var options = {
            contentType: "text/html; charset=utf-8",
            type: "GET",
            url: urlPath,
            dataType: "html",            
            async: false,
            success: function(response) {
                //alert("success: " + response);
            },
            error: function(msg) { alert("failed: " + msg); }
        };

        var returnText = $.ajax(options).responseText;
        return returnText;
	}
	
function TrySendingMail()
{
    var txtName = document.getElementById('<%=txtName.ClientID%>');
    var txtEmail = document.getElementById('<%=txtEmail.ClientID%>');
    var txtTel = document.getElementById('<%=txtTel.ClientID%>');
    var drpSelect = document.getElementById('<%=drpSelect.ClientID%>');
    var txtQuestion = document.getElementById('<%=txtQuestion.ClientID%>');  
  var lblAskQuestionErrMsg = document.getElementById('<%=lblAskQuestionErrMsg.ClientID%>');

    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    if(txtEmail.value == "")
    {
        alert("Enter Email!");
        return false;          
    }
    else
    {
        if(!emailPattern.test(txtEmail.value))
        {
            alert("Email is Incorrect!");
            return false;
        }  
    }      
   
    var status = SendMailToAnalyst(txtName.value, txtEmail.value, txtTel.value, drpSelect.options[drpSelect.selectedIndex].text, txtQuestion.value)   
    if(status = "success")
    {
        lblAskQuestionErrMsg.innerHTML = "Email sent";
        setTimeout("closehs()",2500);
    }    
    return false;
}

function closehs()
{
    hs.close('highslide-ask');
}

function OnMultipleTreeCheckChange(checkedNode,hdnControl,filterBox)
{

    var comboText = filterBox.get_text();
    if (checkedNode.get_checked()) 
    {
        hdnControl.value = hdnControl.value  + checkedNode.get_id()+ ",";
        if(comboText.length>0)
        {
            comboText +=";"+checkedNode.get_text();
        } 
        else
        {
            comboText +=checkedNode.get_text();
        } 
        filterBox.set_text(comboText );
    }
    else
    {
        hdnControl.value = hdnControl.value.replace(checkedNode.get_id()+",","");
        if(comboText.length>0)
        {            
            if(comboText.indexOf(checkedNode.get_text()+";")!=-1)
            {
                comboText=comboText.replace(checkedNode.get_text()+";","");
            }
            else if(comboText.indexOf(";"+checkedNode.get_text())!=-1)
            {
                comboText=comboText.replace(";"+checkedNode.get_text(),"");
            }            
            else
            {
                comboText=comboText.replace(checkedNode.get_text(),"");
            }
            filterBox.set_text(comboText );
        }
    }
}



</script>
</head>
<body>
    <div style="display: none;">
        <!-- Google Async Code starts -->

        <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-31760835-1']);_gaq.push(['_setDomainName', 'http://gta.ovum.com']);_gaq.push(['_setAllowLinker', true]);_gaq.push(['_setAllowHash', false]);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script');ga.type = 'text/javascript';ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();</script>

        <!-- Google Async Code ends -->
    </div>
    <!--69f8cbd7a309e93af23bb0225f10d0d7-->
    <form id="form1" runat="server">
        <div style="width: 100%; background: #f2f2f2;padding-bottom:0px; padding-top:0px;" class="headerNew cfNew" id="wrapper">
            <div id="headerOvumNew" style="font-size: 11px; background: #f2f2f2;" runat="server"
                visible="false" class="containerNew">
                <div class="g4New">
                    <div class="brandingNew">
                        <table style="margin-top:-4px;">
                            <tr>
                                <td style="border-width: 0px; border: none;">
                                    <a id="a1" style="border-width: 0px; border: none;" href="http://www.ovumkc.com">
                                        <img style="border-width: 0px; border: none;" alt="OVUMKC logo" src="../Assets/Images/OVUM-Knowledge-Center.gif" />
                                    </a>
                                </td>
                                <td>
                                    <a id="a2" href="http://www.ovumkc.com" style="border: none; cursor: pointer; text-decoration: none;">
                                        <strong style="float: right;">Knowledge <span>Center</span></strong> </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="g8New last">
                    <div class="profileNew">
                        <span style="font-size: 12px;" runat="server" id="userName">&nbsp;</span> <span class="iconNew">
                        </span>
                        <div class="popupNew">
                            <ul>
                                <%--<li><a href="/ezsamsmanager/myprofile">Edit Profile</a></li>--%>
                                <li><a style="font-size: 12px;" runat="server" id="lnkEditProfile" href="http://www.ovumkc.com/ezsamsmanager/myprofile">Edit Profile</a></li>
                                <li>
                                    <asp:LinkButton ID="lbtnLogout" Style="color: #cb003f; font-size: 12px;" runat="server"
                                        OnClick="lbtnLogout_Click" Text="Logout" Visible="true"></asp:LinkButton>
                                    <%--<a href="/user/logout">Logout</a>--%>
                                </li>
                            </ul>
                        </div>
                    </div>
                  <ul class="util_navNew">
                        
                         <li><a style="color: #323232;font-size:12px;" href="http://www.ovumkc.com/content/search?SearchText=*&SearchType=Standard">All Research</a></li>
                            
                        <li><a style="color: #323232;font-size:12px;" href="http://www.ovumkc.com/Pages/Premium-Tools">Premium
                            Tools </a></li>
                            
                        <li class="pop-upNew">
                            <p style="font-size:12px;line-height:18px;">
                                Site tools</p>
                            <div class="util-subnavigationNew">
                                <dl>
                                    <dd>
                                        <a style="font-size:12px;" target="_blank" href="http://www.ovumkc.com/ovumkc/alerts/view#research_alerts">
                                            Research Alerts </a>
                                    </dd>
                                    <dd>
                                        <a style="font-size:12px;" target="_blank" href="http://www.ovumkc.com/ovumkc/alerts/view#saved_searches">
                                            Saved Searches </a>
                                    </dd>
                                </dl>
                            </div>
                        </li>
                         <li><a style="color: #323232;font-size:12px;" href="http://www.ovumkc.com/Pages/Help">Help </a>
                            <%--<asp:LinkButton ID="lnkHelp" style="color:#323232;" class="help" runat="server" OnClick="lnkHelp_Click"
                                    Text="Help" Visible="true"></asp:LinkButton>--%>
                        </li>
                        <li><a style="color: #323232;font-size:12px;" href="http://www.ovumkc.com/Pages/Ask-an-Analyst">Ask
                            an Analyst</a>
                            <%--<a href="/Pages/Ask-an-Analyst"> Ask an Analyst </a> --%>
                        </li>
                       
                       
                    </ul>
                    <br />
                    <br />
                    <br />
                    <br />
                    <asp:PlaceHolder runat="server" ID="phSearchArea" Visible="True">
                    <div class="searchNew"> 
                        <%--<form action="/content/search" class="cfNew" method="get" id="search_form">--%>
                        <input type="text" runat="server" value="" placeholder="Search" id="SearchText" name="SearchText" />
                        <input type="hidden" value="Standard" name="SearchType" />
                        <asp:Button ID="btnSearch" CssClass="submitNew sprite_norep" runat="server" OnClick="btnSearch_Click" />
                        <%--<button class="submitNew sprite_norep" type="submit"><span class="iconNew go_big"></span></button>--%>
                        <%--</form>--%>
                        <a style="font-size:12px; outline: none !important; text-decoration: none; color: #323232;" href="http://www.ovumkc.com/content/advancedsearch">
                        Advanced search</a>
                     </div>
                    </asp:PlaceHolder>
                </div>
            </div>
        </div>
        <div id="header" class="<%=SourceKC%>" runat="server" visible="true">
            <h1 class="<%=H1Class%>">
                <%=KCFullName%>
            </h1>
            <a href="<%=KCUrl+SourceKC %>" class="orbys">Return to your Knowledge Centre</a><div
                id="header_nav">
                <ul id="tabs">
                    <li><a href="<%=KCUrl+SourceKC %>/" id="tab_welcome">Welcome</a></li>
                    <li><a href="<%=KCUrl+SourceKC %>/findinfo/?tab=1" id="tab_findinfo">Find Information</a></li>
                    <li><a href="<%=KCUrl+SourceKC %>/findInfo/?home=0" id="tab_myhome">My Home</a></li>
                    <li><a href="<%=KCUrl+SourceKC %>/mytools/" id="tab_mytools" class="selected">My Tools</a></li>
                </ul>
                <div id="header_search">
                    <form method="get" action="<%=KCUrl+SourceKC %>/findInfo/" name="siteSearch" id="siteSearch">
                        <p>
                            Search</p>
                        <input id="searchKeywords" type="text" name="search" />
                        <input type="image" class="background_searchgo" onmouseover="AddRemoveCSSClass(this, 'background_searchgo_inactive', 'background_searchgo_active');"
                            onmouseout="AddRemoveCSSClass(this, 'background_searchgo_active', 'background_searchgo_inactive');"
                            alt="Go" src="../assets/images/transparent.gif" />
                    </form>
                    <ul id="menu" class="MenuBarHorizontal">
                        <li><a href="http://info.datamonitor.com/help/kc/default.aspx?pageid=quick_search&amp;skin=<%=SourceKC%>"
                            class="noline" target="_blank">Tips</a></li>
                        <li><a href="<%=KCUrl+SourceKC %>/advancedsearch">Advanced</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="width: 100%; text-align: left;" id="middleDiv" class="middleNew cfNew">
        <div id="maincontent_full123" class="maincontainerNew" >
                <GMPT:PageTitleBar ID="PageTitleBar1" runat="server"></GMPT:PageTitleBar>
                <ul id="database_tabs">
                    <li><a href="../results/countryoverview.aspx" title="go to country view">Country Snapshot</a></li>
                    <li>
                        <asp:HyperLink ID="SearchLink" runat="server" Text="Search" ToolTip="click to modify search"></asp:HyperLink></li>
                    <li>
                        <asp:HyperLink ID="ViewResultsLink" runat="server" NavigateUrl="javascript:ValidateAndRedirect('Results');"
                            Text="View Results" ToolTip="click to view results"></asp:HyperLink></li>
                    <li><a class="selected">Chart Results</a></li>
                    <GMPT:Glossary ID="Links" runat="server" />
                </ul>
                <br />
                <div id="column_other_chartnav">
                    <div id="navSection" class="refinesearch">
                        <GPMT:ChartLinks ID="ChartLinks1" runat="server"></GPMT:ChartLinks>
                    </div>
                </div>
                <div id="maincontent_chart" class="other_styles">
                    <asp:ContentPlaceHolder ID="LogisticsMaster" runat="server">
                    </asp:ContentPlaceHolder>
                    <div class="highslide-html-content" id="highslide-ask" style="width: 300px;">
                        <div class="highslide-header">
                            <ul>
                                <li class="highslide-move"><a href="#" onclick="return false">Move</a> </li>
                                <li class="highslide-close"><a href="#" onclick="return hs.close(this)">Close</a> </li>
                            </ul>
                            <h1 class="popup_icon_ask">
                                Ask an analyst</h1>
                        </div>
                        <div class="highslide-body">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="100" height="30" valign="top">
                                        Name</td>
                                    <td height="30" valign="top">
                                        <b>
                                            <asp:TextBox runat="server" CssClass="formstyle3" EnableViewState="true" ID="txtName"></asp:TextBox>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100" height="30" valign="top">
                                        Email</td>
                                    <td height="30" valign="top">
                                        <b>
                                            <asp:TextBox runat="server" CssClass="formstyle3" EnableViewState="true" ID="txtEmail"></asp:TextBox>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100" height="30" valign="top">
                                        Tel.</td>
                                    <td height="30" valign="top">
                                        <b>
                                            <asp:TextBox runat="server" CssClass="formstyle3" EnableViewState="true" ID="txtTel"></asp:TextBox>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100" height="30" valign="top">
                                        Contact Method</td>
                                    <td height="30" valign="top">
                                        <asp:DropDownList CssClass="formstyle3" runat="server" ID="drpSelect" EnableViewState="true">
                                            <asp:ListItem Text="Email" Selected="True"></asp:ListItem>
                                            <asp:ListItem Text="Telephone"></asp:ListItem>
                                        </asp:DropDownList>
                                    </td>
                                </tr>
                            </table>
                            <p>
                                Question (max 400 characters)</p>
                            <p>
                                <asp:TextBox ID="txtQuestion" runat="server" CssClass="formstyle3" TextMode="MultiLine"
                                    EnableViewState="true" MaxLength="400"></asp:TextBox>
                                <br />
                            </p>
                            <div class="button_right">
                                <asp:LinkButton ID="lbtnAskQuestion" runat="server" Style="width: 135px" Text="Ask Question"
                                    OnClientClick="javascript:return TrySendingMail();">
                                </asp:LinkButton>
                            </div>
                            <asp:Label ID="lblAskQuestionErrMsg" runat="server" ForeColor="green"></asp:Label>
                        </div>
                    </div>
                </div>
                <div class="button_right" style="width: 150px; float: right; margin-top: -10px;">
                    <asp:LinkButton ID="BuidSearch" runat="server" Width="150px" OnClick="BuidSearch_Click"
                        Text="Detailed search" ToolTip="click to start new search"></asp:LinkButton>
                </div>
            </div>
        </div>
    </form>
    <div id="footer" runat="server" visible="true">
        <div id="footer_left">
            <asp:Label ID="lblLeftFooter" runat="server" Text="© Datamonitor. All rights reserved."></asp:Label></div>
        <div id="footer_right">
            <div id="footerdefault" runat="server" visible="true">
                <a href="<%=KCUrl.Replace("/kc/", "")%>" target="_blank">Go to
                    <%=KCUrl.Replace("http://", "").Replace("/kc/", "")%>
                </a>| <a href="http://about.datamonitor.com/" target="_blank">About us</a> | <a href="<%=KCUrl+SourceKC%>/contactus/">
                    Contact Us</a> | <a href="<%=KCUrl+SourceKC%>/myTools/editprofile/edit/">My Profile</a>
                | <a href="http://info.datamonitor.com/help/kc/?skin=<%=SourceKC%>" target="_blank">
                    Help</a> | <a href="http://info.datamonitor.com/help/kc/?skin=<%=SourceKC%>&pageid=terms_and_conditions">
                        Terms of Use</a> | <a href="http://info.datamonitor.com/help/kc/?skin=<%=SourceKC%>&pageid=privacy_policy">
                            Privacy Policy</a>
            </div>
            <div id="footerbutlergroup" runat="server" visible="false">
                <a href="http://www.butlergroup.com/company/default.asp" target="_self">About Butler
                    Group</a> | <a href="http://www.butlergroup.com/company/contact.asp" target="_self">
                        Contact us</a> |
                <!-- URL needs to change depending on environment and KC - this will be changing in the future i think as all help pages will located in a central site-->
                <a href="http://info.datamonitor.com/help/kc/?skin=KCNAME&pageid=welcome" target="_self">
                    Help</a>
            </div>
            <div id="footerOvum" runat="server" visible="false">
                <a href="<%=KCUrl.Replace("/kc/", "")%>" target="_blank">Go to
                    <%=KCUrl.Replace("http://", "").Replace("/kc/", "")%>
                </a>| <a href="http://about.ovum.com/" target="_blank">About us</a> | <a href="<%=KCUrl+SourceKC%>/contactus/">
                    Contact Us</a> | <a href="<%=KCUrl+SourceKC%>/myTools/editprofile/edit/">My Profile</a>
                | <a href="http://info.datamonitor.com/help/kc/?skin=<%=SourceKC%>" target="_blank">
                    Help</a> | <a href="http://info.datamonitor.com/help/kc/?skin=<%=SourceKC%>&pageid=terms_and_conditions">
                        Terms of Use</a> | <a href="http://info.datamonitor.com/help/kc/?skin=<%=SourceKC%>&pageid=privacy_policy">
                            Privacy Policy</a>
            </div>
        </div>
    </div>
    <div id="footerNew" runat="server" visible="false" class="footerNew">
        <div style="color: Black; width: 100%; font-size: 14px; text-align: left;" class="footer_contentsNew containerNew">
            <a style="color: #ce003f; border: none;" class="logoNew" href="http://uat.ovumkc.com"
                runat="server" id="lnkOVUMKClogo">
                <img style="max-width: 95%; height: auto; border: none;" alt="OVUMKC logo" src="../Assets/Images/OVUM-Knowledge-Center1.gif" />
            </a>
            <p>
                        Keep in touch by following <a style="color: #ce003f; text-decoration: underline;"
                            href="#" target="_blank" runat="server" id="lnkOvumICT">Ovum ICT</a>
                            or <a style="color: #ce003f; text-decoration: underline;"
                            href="#" target="_blank" runat="server" id="lnkOvumTelecoms">Ovum Telecoms</a>
                        on Twitter.</p>
                    <p class="legalNew">
                        &copy; Ovum Ltd 2012. All rights reserved. <a style="color: #ce003f; text-decoration: underline;"
                            href="" runat="server" id="lnkPrivacyPolicy">Privacy Policy</a> | 
                            <a style="color: #ce003f; text-decoration: underline;"
                            href="" runat="server" id="lnkTermsofuse">Terms of use</a> | 
                            <a style="color: #ce003f; text-decoration: underline;"
                            href="" runat="server" id="lnkCookies">Cookies</a>
                            </p>
        </div>
    </div>

    <script type="text/javascript">
//<![CDATA[
var _tag=new WebTrends();
_tag.dcsGetId();
//]]>
    </script>

    <script type="text/javascript">
//<![CDATA[
_tag.dcsCustom=function(){
// Add custom parameters here.
//_tag.DCSext.param_name=param_value;
}
_tag.dcsCollect();
//]]>
    </script>
            <noscript>
        <div>
            <img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="//sdc.informa.com/dcslw3pj248nrlwsqwn51jldn_1f1x/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=isp.ovum.com" /></div>
    </noscript>
</body>
</html>
