﻿<%@ Master Language="C#" 
    AutoEventWireup="true" 
    CodeBehind="Logistics.master.cs" 
    Inherits="Datamonitor.PremiumTools.Prototype.MasterPages.Logistics" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="copyright" content="Copyright (c) 2009 - Datamonitor plc. All rights reserved." />
    <title>Datamonitor - Premium Tools</title>    
    <link href="../Assets/css/ovum.css" rel="stylesheet" type="text/css"/>    
    <link href="../Assets/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="../Assets/css/treeview.css" rel="stylesheet" type="text/css"/>
     <link runat="server" id="sourceCSS" rel="stylesheet" type="text/css"/>
    
     <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/FusionMaps.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/FusionMaps.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/highslide-with-html.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/jquery-1.3.2.min.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/kc.js") %>"></script>
    <script type="text/javascript" src="<%= Page.ResolveClientUrl("~/assets/scripts/SpryMenuBar.js") %>"></script>
    
    
    <style type="text/css">
        .highslide-header ul li.highslide-previous, .highslide-header ul li.highslide-next 
        {
	        display: none;
        }
    </style>
    
     <script type="text/javascript">	

	function UpdateSession(taxonomyTypeID, taxonomyID, name, actionType)
	{
	    var urlPath ="SessionHandler.aspx?taxonomyTypeID="+
	        taxonomyTypeID + 
	        "&taxonomyID="+
	        taxonomyID+
	        "&name=" + 
	        name +
	        "&actionType="+
	        actionType;
	        //alert(urlPath);
	        
        var options = {
            contentType: "text/html; charset=utf-8",
            type: "GET",
            url: urlPath,
            dataType: "html",            
            async: false,
            success: function(response) {
                //alert("success: " + response);
            },
            error: function(msg) { alert("failed: " + msg); }
        };

        var returnText = $.ajax(options).responseText;
        return returnText;
	}
	function addToSelection(taxonomyTypeID, taxonomyType, taxonomyID, name, canUpdateSession)
	{
        var section = taxonomyTypeID;
        var strMsg = "true"; 
        if(canUpdateSession == "true")
        {
            //update session
            strMsg = UpdateSession(taxonomyTypeID, taxonomyID, name, "add");
        }
        if(strMsg == "true")
        {           
            if ( $("#taxtype"+taxonomyTypeID).text() =="")
            {
                $("#advanced_criteria").append("<p id='taxtype" + taxonomyTypeID + "' >" + unescape(taxonomyType) + " &nbsp;</p>");
            }

	        //add the checked taxonomy link
	        var hrefStr="javascript:removeFromSelection(\""+taxonomyTypeID +"\",\""+ taxonomyType +"\","+ taxonomyID +",\""+ name +"\",\""+canUpdateSession+"\");"; 
	        section="#taxtype"+taxonomyTypeID;
	        if($("#selspan" + taxonomyID).length==0)
	        {
                $(section).append("<a id='selspan" + taxonomyID + "' href='" + hrefStr + "'>" + unescape(name) + "</a> ");
            }
            
        }
	}
	
	function SendMailToAnalyst(name, email, tel, contactmethod, question)
	{
	    var urlPath ="Askanalyst.aspx?name="+
	        name + 
	        "&email="+
	        email+
	        "&tel=" + 
	        tel +
	        "&question="+
	        question+
	        "&contact="+
	        contactmethod;
	       
        var options = {
            contentType: "text/html; charset=utf-8",
            type: "GET",
            url: urlPath,
            dataType: "html",            
            async: false,
            success: function(response) {
                //alert("success: " + response);
            },
            error: function(msg) { alert("failed: " + msg); }
        };

        var returnText = $.ajax(options).responseText;
        return returnText;
	}
	
	
function closehs()
{
    hs.close('highslide-ask');
}
function TrySendingMail()
{
    var txtName = document.getElementById('<%=txtName.ClientID%>');
    var txtEmail = document.getElementById('<%=txtEmail.ClientID%>');
    var txtTel = document.getElementById('<%=txtTel.ClientID%>');
    var drpSelect = document.getElementById('<%=drpSelect.ClientID%>');
    var txtQuestion = document.getElementById('<%=txtQuestion.ClientID%>');  
  var lblAskQuestionErrMsg = document.getElementById('<%=lblAskQuestionErrMsg.ClientID%>');

    var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    if(txtEmail.value == "")
    {
        alert("Enter Email!");
        return false;          
    }
    else
    {
        if(!emailPattern.test(txtEmail.value))
        {
            alert("Email is Incorrect!");
            return false;
        }  
    }      
   
    var status = SendMailToAnalyst(txtName.value, txtEmail.value, txtTel.value, drpSelect.options[drpSelect.selectedIndex].text, txtQuestion.value)   
    if(status = "success")
    {
        lblAskQuestionErrMsg.innerHTML = "Email sent";
        setTimeout("closehs()",2500);
    }    
    return false;
}
	


</script>
</head>
<body>
    <div id="wrapper">
        <div id="header" class="<%=SourceKC%>" >
            <h1 class="<%=H1Class%>"><%=KCFullName%></h1><a href="<%=KCUrl+SourceKC %>" class="orbys">Return to your Knowledge Centre</a><div id="header_nav">
            <ul id="tabs">
                <li><a href="<%=KCUrl+SourceKC %>/" id="tab_welcome">Welcome</a></li>
                <li><a href="<%=KCUrl+SourceKC %>/findinfo/?tab=1" id="tab_findinfo">Find Information</a></li>
                <li><a href="<%=KCUrl+SourceKC %>/findInfo/?home=0" id="tab_myhome">My Home</a></li>
                <li><a href="<%=KCUrl+SourceKC %>/mytools/" id="tab_mytools" class="selected">My Tools</a></li>                
            </ul>
            <div id="header_search">
                <form id="siteSearch" action="<%=KCUrl+SourceKC %>/findInfo/" method="get" name="siteSearch">
                    <p>Search</p><input id="searchKeywords" type="text" name="search"/>
                       
                        <input type="image" class="background_searchgo" onmouseover="AddRemoveCSSClass(this, 'background_searchgo_inactive', 'background_searchgo_active');" 
                            onmouseout="AddRemoveCSSClass(this, 'background_searchgo_active', 'background_searchgo_inactive');" 
                            alt="Go" src="<%=this.ResolveUrl("~/assets/images/transparent.gif") %>"/>
                </form>                
                <ul id="menu" class="MenuBarHorizontal">
                    <li><a href="http://info.datamonitor.com/help/kc/default.aspx?pageid=quick_search&amp;skin=<%=SourceKC%>" class="noline" target="_blank">Tips</a></li>
                    <li><a href="<%=KCUrl+SourceKC %>/advancedsearch">Advanced</a></li>                   
                </ul>
            </div>
        </div>
    </div>
    <form id="form1" runat="server">
    
        <asp:ContentPlaceHolder ID="LogisticsMaster" runat="server">
        </asp:ContentPlaceHolder>
         <div class="highslide-html-content" id="highslide-ask" style="width: 300px;">

   <div class="highslide-header">
    <ul>
    <li class="highslide-move"> <a href="#" onclick="return false">Move</a> </li>
    <li class="highslide-close"> <a href="#" onclick="return hs.close(this)">Close</a> </li>
    </ul>
    <h1 class="popup_icon_ask">Ask an analyst</h1>

    </div>

    <div class="highslide-body">

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td width="100" height="30" valign="top">Name</td>
    <td height="30" valign="top"><b>
    <asp:TextBox  runat="server" CssClass="formstyle3" EnableViewState="true" ID="txtName" ></asp:TextBox>

    </b></td>
    </tr>
    <tr>
    <td width="100" height="30" valign="top">Email</td>
    <td height="30" valign="top"><b>
    <asp:TextBox  runat="server" CssClass="formstyle3" EnableViewState="true" ID="txtEmail" ></asp:TextBox>
    </b></td>
    </tr>

    <tr>
    <td width="100" height="30" valign="top">Tel.</td>
    <td height="30" valign="top"><b>
    <asp:TextBox  runat="server" CssClass="formstyle3" EnableViewState="true" ID="txtTel" ></asp:TextBox>
    </b></td>
    </tr>
    <tr>
    <td width="100" height="30" valign="top">Contact Method</td>

    <td height="30" valign="top">
    <asp:DropDownList CssClass="formstyle3" runat="server"  ID="drpSelect" EnableViewState="true">
        <asp:ListItem Text="Email" Selected="True"></asp:ListItem>
        <asp:ListItem Text="Telephone"></asp:ListItem>
    </asp:DropDownList>

    </td>
    </tr>
    </table>
    <p>Question (max 400 characters)</p>
    
    <p>                         
    <asp:TextBox ID="txtQuestion" runat="server" 
        CssClass="formstyle3" 
        TextMode="MultiLine" 
        EnableViewState="true"
        MaxLength="400"></asp:TextBox>                                                     
    <br />                          
    </p>
    <div class="button_right"> <asp:LinkButton ID="lbtnAskQuestion" runat="server" 
            style="width: 135px" 
            Text="Ask Question"
            OnClientClick="javascript:return TrySendingMail();"  >
        </asp:LinkButton>
        </div><asp:Label ID="lblAskQuestionErrMsg" runat="server" ForeColor="green"></asp:Label>
    </div>
    </div>
      
    </form>
    <div id="footer">
        <div id="footer_left"><asp:label ID="lblLeftFooter" runat="server" Text="© Datamonitor. All rights reserved."></asp:label></div>
         <div id="footer_right">
        <div id="footerdefault" runat="server" visible="true">    
                    <a href="<%=KCUrl.Replace("/kc/", "")%>" target="_blank">Go to <%=KCUrl.Replace("http://", "").Replace("/kc/", "")%></a> |
                    <a href="http://about.datamonitor.com/" target="_blank">About us</a> |                 
                    <a href="<%=KCUrl+SourceKC%>/contactus/">Contact Us</a> | 
                    <a href="<%=KCUrl+SourceKC%>/myTools/editprofile/edit/">My Profile</a> | 
                    <a href="http://info.datamonitor.com/help/kc/?skin=<%=SourceKC%>" target="_blank">Help</a> | 
                    <a href="http://info.datamonitor.com/help/kc/?skin=<%=SourceKC%>&pageid=terms_and_conditions">Terms of Use</a> | 
                    <a href="http://info.datamonitor.com/help/kc/?skin=<%=SourceKC%>&pageid=privacy_policy">Privacy Policy</a>
                </div>
                <div id="footerbutlergroup" runat="server" visible="false">
                    <a href="http://www.butlergroup.com/company/default.asp" target="_self">About Butler Group</a> | 
                    <a href="http://www.butlergroup.com/company/contact.asp" target="_self">Contact us</a> | 
                    <!-- URL needs to change depending on environment and KC - this will be changing in the future i think as all help pages will located in a central site-->
                    <a href="http://info.datamonitor.com/help/kc/?skin=KCNAME&pageid=welcome" target="_self">Help</a>
                </div>
                 <div id="footerOvum" runat="server" visible="false">
                    <a href="<%=KCUrl.Replace("/kc/", "")%>" target="_blank">Go to <%=KCUrl.Replace("http://", "").Replace("/kc/", "")%></a> |
                    <a href="http://about.ovum.com/" target="_blank">About us</a> | 
		            <a href="<%=KCUrl+SourceKC%>/contactus/">Contact Us</a> | 
                    <a href="<%=KCUrl+SourceKC%>/myTools/editprofile/edit/">My Profile</a> | 
                    <a href="http://info.datamonitor.com/help/kc/?skin=<%=SourceKC%>" target="_blank">Help</a> | 
                    <a href="http://info.datamonitor.com/help/kc/?skin=<%=SourceKC%>&pageid=terms_and_conditions">Terms of Use</a> | 
                    <a href="http://info.datamonitor.com/help/kc/?skin=<%=SourceKC%>&pageid=privacy_policy">Privacy Policy</a>
                </div>
        </div>
   </div>
</div>
</body>
</html>

