<%@ Control Language="C#" 
    AutoEventWireup="true" 
    CodeBehind="SiteTitle.ascx.cs" 
    Inherits="Datamonitor.PremiumTools.Generic.Controls.SiteTitle" %>
<h1><asp:Label ID="TitleLabel" runat="server"></asp:Label></h1>