<%@ Page Language="C#" MasterPageFile="~/MasterPages/Logistics.Master" AutoEventWireup="true" CodeBehind="DefaultV2.aspx.cs" Inherits="Datamonitor.PremiumTools.Logistics.Results.DefaultV2" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="LogisticsMaster" runat="server">
</asp:Content>
