<%@ Page Language="C#" 
         AutoEventWireup="true"         
         CodeBehind="GetReportSectionsData.aspx.cs" 
         Inherits="Datamonitor.PremiumTools.Logistics.Results.GetReportSectionsData"
         Theme="NormalTree"
          %>
         
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
         
<%@ Register Assembly="ComponentArt.Web.UI" Namespace="ComponentArt.Web.UI" TagPrefix="ComponentArt" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server"> 
<title></title> 
</head>
<body>
    <form id="form1" runat="server">    
 <div > 
  <asp:DropDownList ID="dropdownCountry" runat="server">  
  </asp:DropDownList> 
  <br /><br />         
     <asp:LinkButton ID="GenerateReport"  
                    runat="server" 
                    Text="Generate Report" 
                    OnClick="GenerateReport_Click">
        </asp:LinkButton>
  </div>     
   <input type="hidden" id="hdnCountryID" runat="server" />  
    </form>
</body>
</html>


    


